.country {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  overflow: scroll;
}

.navCountry {
  justify-content: space-between;
  position: sticky;
  z-index: 1;
  top: 0%;
}

.navCountry h2 {
  width: 50%;
  text-align: center;
}

.navCountry a {
  color: #f9fffb;
  text-decoration: none;
}

.infoCountry {
  background-color: #5889e5;
  height: 100vh;
}

.infoCountry img {
  filter: invert(90%);
}

.infoCountry h3 {
  background-color: #35548b;
  padding: 2px;
  text-align: center;
  color: #f9fffb;
}

.infoPollution {
  background-color: #1d1d1d;
  color: #f9fffb;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  gap: 5px;
}

.infoPollution h4 {
  padding: 10px;
  font-size: 20px;
}

.chart {
  background-color: #f9fffb;
  display: flex;
  flex-direction: column;
  padding: 50px 0;
  justify-content: center;
}

.chart > * {
  text-align: center;
  margin-bottom: 100px;
}

@media only screen and (min-width: 768px) {
  .infoCountry {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .infoCountry img {
    max-width: 400px;
  }

  .infoCountry h3 {
    text-align: left;
    align-self: center;
    font-size: 40px;
    background: none;
  }

  .chart {
    background-color: #1d1d1d;
    grid-column-end: 3;
    grid-column-start: 1;
  }

  .chart h2 {
    color: #f9fffb;
    font-size: 40px;
  }

  canvas {
    max-width: 700px;
    align-items: center;
    margin: auto;
  }

  .infoPollution {
    display: none;
  }
}
