.navHome {
  justify-content: space-between;
}

.navHome h2 {
  width: 80%;
}

.regions {
  display: grid;
  grid-template-columns: auto;
  align-items: center;
}

.regions a:nth-child(even) {
  position: static;
  background-color: #4063a5;
  text-decoration: none;
}

.regions a:nth-child(odd) {
  position: relative;
  background-color: #4167b0;
  text-decoration: none;
}

.regions p {
  position: relative;
  font-size: 30px;
  width: 50%;
  left: 60px;
  top: -50px;
  color: #f9fffb;
}
