.navRegion {
  justify-content: space-between;
  position: sticky;
  z-index: 1;
  top: 0%;
}

.navRegion h2 {
  width: 50%;
  text-align: center;
}

.navRegion a {
  color: #f9fffb;
  text-decoration: none;
}

.countries {
  padding-top: 5px;
  display: flex;
  flex-direction: column;
}

.countries header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.countries header img {
  width: 70%;
  filter: brightness(1.8);
}

.countries header h3 {
  color: #f9fffb;
  font-size: 22px;
}

.countries h4 {
  background-color: #35548b;
  padding: 2px 4px;
  color: #f9fffb;
}

.countriesContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: right;
}

.countriesContainer > * {
  color: #f9fffb;
  font-size: 18px;
}

.countries a {
  text-decoration: none;
  padding: 0 5px 5px 0;
}

.countries a:nth-child(4n-3) {
  background-color: #4167b0;
}

.countries a:nth-child(4n) {
  background-color: #4167b0;
}

.countries a:nth-child(4n-2) {
  background-color: #4063a5;
}

.countries a:nth-child(4n-1) {
  background-color: #4063a5;
}

@media only screen and (min-width: 768px) {
  .countries header img {
    max-width: 300px;
  }

  .countries header h3 {
    font-size: 80px;
  }

  .countries header {
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  .countriesContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    text-align: right;
  }

  .countries a:nth-child(even) {
    background-color: #4063a5;
  }

  .countries a:nth-child(odd) {
    background-color: #4167b0;
  }
}
